@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    src: local('Segoe UI'), url('./assets/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 400;
    src: local('Segoe UI'), url('./assets/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    src: local('Segoe UI'), url('./assets/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 700;
    src: local('Segoe UI'), url('./assets/Segoe UI Bold Italic.woff') format('woff');
}
* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 2px;
	width: calc(100vw - 4px);
	height: calc(100vh - 4px);
	background-image: url("https://unsplash.com/photos/P651qborvwc/download?force=true");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
div {
	height: 100%;
}
input,
button {
	all: unset;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
	backdrop-filter: saturate(180%) blur(10px);
	cursor: default;
	font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	border-radius: 4px;
}
em,
text {
	font-style: italic;
}
input {
	text-align: right;
	width: 100%;
	max-width: calc(100vw - 66px);
	border: none;
	padding: 2px;
	margin: 0;
	cursor: text;
}
button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.top,
.memGrid,
.btnGrid {
	display: grid;
	grid-gap: 2px;
	margin: 2px 0;
	padding: 0;
	width: 100%;
	max-width: 100vw;
	border: none;
	height: 100%;
}
.top {
	grid-template-rows: 1fr;
	grid-template-columns: 25px auto 25px;
	max-height: 50px;
}
.memGrid {
	grid-template-rows: 1fr;
	grid-template-columns: repeat(6, 1fr);
	max-height: 100px;
}
.btnGrid {
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(4, 1fr);
	font-size: 100%;
}
.btnGrid > * {
	min-height: 25px;
}
svg {
	width: 24px;
	height: 24px;
	vertical-align: bottom;
}
svg > path {
	fill: #000;
}
#Ml > svg {
	width: 10px;
	height: 5px;
	display: inline;
	vertical-align: middle;
	margin-left: 1px;
}
